language: php
php:
  - 5.6
  - 5.5
  - 5.4

before_script: composer install
cache:
  directories:
    - vendor

script:
 - phpunit --bootstrap vendor/autoload.php tests/LastfmApioTest
 - php coverage-checker.php tests/reports/clover.xml 50
