<?xml version="1.0"?>
<!-- works fine with PHPUnit-3.6.10 -->
<phpunit
	bootstrap="./vendor/autoload.php"
	colors="true"
	verbose="true"
	syntaxCheck="true"
	backupGlobals="true"
	>
	<testsuite name="LastfmApio tests">
		<directory>./tests/LastfmApioTest</directory>
	</testsuite>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<!-- this is the path of the files included in your clover report -->
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
	<logging>
		<!-- and this is where your report will be written -->
		<log type="coverage-clover" target="./tests/reports/clover.xml"/>
		<log type="coverage-html" target="./tests/reports/"/>
	</logging>
</phpunit>
