<?xml version="1.0"?>
<!-- works fine with PHPUnit-4.8.21 -->
<phpunit backupGlobals="false"
		backupStaticAttributes="false"
		bootstrap="vendor/autoload.php"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		checkForUnintentionallyCoveredCode="true"
		processIsolation="false"
		stopOnFailure="true"
		syntaxCheck="true" >
	<testsuite name="LastfmApio tests">
		<directory suffix="Test.php">./tests/</directory>
	</testsuite>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<!-- this is the path of the files included in your clover report -->
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
	<logging>
		<!-- and this is where your report will be written -->
		<log type="coverage-clover" target="./tests/reports/clover.xml"/>
		<log type="coverage-html" target="./tests/reports/"/>
	</logging>
</phpunit>
